.flex-box {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  padding-left: 50px;
  padding-right: 50px;
}

.leaflet-container {
  width: 75%;
  height: 75vh;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 5px;
}

.list-container {
  width: 25%;
  padding-right: 20px;
}

.astroName {
  font-size: 20pt;
}

.clickInfo {
  padding-left: 500px;
  padding-top: 50px;
}

.title {
  font-size: 25pt;
  font-weight: bold;
}